@using eShop.MVC.Constants;
@using eShop.MVC.ViewModels
@model HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<section class="section-products">
    <form class="row"
          style="margin-top:-90px"
          method="post"
          asp-controller="Home"
          asp-action="Index">
        <div class="col-md-6 col-lg-4 col-xl-3">

            <div class="form-group">
                <label class="text-nowrap overflow-hidden" for="productInput">Min price</label>
                <input name="@FilterRequestFindConstants.MinPrice" min="0" type="number" class="form-control" value="@Model.Filter.MinPrice" placeholder="min price">
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="form-group">
                <label class="text-nowrap overflow-hidden" for="productInput">Max price</label>
                <input name="@FilterRequestFindConstants.MaxPrice" type="number" min="0" class="form-control" value="@Model.Filter.MaxPrice" placeholder="max price">
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="form-group">
                <label class="text-nowrap overflow-hidden" for="productInput">Types</label>
                <select name="@FilterRequestFindConstants.ProductType" class="form-select" aria-label=".form-select-lg example">
                    <option selected></option>
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type.Type">@type.Type</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="form-group">
                <label class="text-nowrap overflow-hidden" for="productInput">Brands</label>
                <select name="@FilterRequestFindConstants.ProductBrand" class="form-select" aria-label=".form-select-lg example">
                    <option selected></option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand.Brand">@brand.Brand</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-1">
            <a id="clearFilterBtn" class="nav-link icon-hv-sc-10">Clear</a>
        </div>
        <div class="col-1">
            <button id="clearFilterBtn"
                    class="nav-link icon-hv-sc-10"
                    type="submit">
                find
            </button>
        </div>
    </form>
    <div class="row mt-5">
        @if (Model.Products.Any())
        {

            @foreach (var product in Model.Products)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-1" class="single-product">
                        <div class="part-1" style="background: url(@product.ImageUrl) no-repeat center; background-size: cover;">
                            <ul>
                                <li><a><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li>
                                    <a asp-controller="Home"
                                       asp-action="ProductDetails"
                                       asp-route-productId="@product.Id">
                                        <i class="fas fa-expand"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">@product.Name</h3>
                            <h4 class="product-price">@(product.Price.ToString("c"))</h4>
                        </div>
                    </div>
                </div>
            }
            <ul class="pagination justify-content-center">
                @for (var i = 0; i < Model.Pagination.Length; i += 8)
                {
                    <li>
                        <a class="page-link @(Model.Pagination.StartPage == i ? "active": "")"
                           asp-controller="Home"
                           asp-action="SelectedPage"
                           asp-route-Skip="@(i / SD.TakeDefault + 1)">
                            @(i / SD.TakeDefault + 1)
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="col-12">
                <h3 class="text-center">No products found</h3>
            </div>
        }
    </div>
</section>
